/* 다크 모드에서만 적용되는 스타일 */
body.dark-mode {
    background-color: #1a1a1a;
    color: #ffffff;
}

.bar-chart {
    width: 200px; /* 최대 그래프 막대 크기 */
    height: 20px; /* 그래프 높이 */
    background-color: #f1f1f1;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: #3498db;
    width: 0; /* 초기 너비 0, JavaScript로 조정 */
    transition: width 1s; /* 그래프 애니메이션을 위한 전환 효과 */
}
