* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 1920px;
    height: 1080px;
    display: flex;
    border: 1px solid black;
    background-color: black;
    color: white;

}

div, section {
    border: 1px solid rgb(255, 255, 255);
}


/* ------------------------------------ */
/* 최상단 */

#header {
    width: 1920px;
    height: 130px;
    display: flex;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: flex-end;
}

#hearder-name {
    font-size: 50px;
    font-weight: 700;
    margin-left: 165px;
}

.empty {
    margin-left: 50px;
}

#git, #velog {
    height: 70px;
}

#velog {
    border-radius: 25px;
}



/* ------------------------------------ */

/* 왼쪽 부분 */

/* 미모티콘 좌, 상 마진 */
#my-img {
    margin-top: 50px;
    margin-left: 165px;
}

#N-P-E {
    margin-left: 165px;
    margin-top: 50px;
}

#M-name {
    font-size: 40px;
    font-weight: 800;
}

#M-phone, #M-email {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px
}


#W-F-B {
    font-size: 28px;
    margin-top: 50px;
    margin-left: 165px;
    display: flex;
}

#W-D, #F-E, #B-E {
    border: 2px solid white;
    border-radius: 50px;
    padding-inline: 20px;
    margin-right : 45px;
}

/* -------------------------------------- */

/* 오른쪽 부분 */

#right-main {
    font-size: 170px;
    margin-top: 150px;
    margin-left: 150px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

#profile {
    color: blueviolet;
}

#one, #two, #three {
    font-size: 25px;
}

#profile-one, #skills-two, #project-three {
    display: flex;
}

#one, #two, #three{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
}