body {
    background-color: black;
    color: white;
}

.white-mode {
    background-color: white;
    color: black;
}

.percent-bar {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    background-color: antiquewhite;
    font-size: 13px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.percent-bar .percent {
    width: 0%;
    height: 20px;
    border-radius: 10px;
    padding: 0;
    background-color: aqua;
    text-align: center;
    color: black;
    position: relative;
}

.percent-bar .percent::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}